<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBankService" />
                <binding name="BasicHttpsBinding_IBankService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56142/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBankService" contract="Bank.IBankService"
                name="BasicHttpBinding_IBankService" />   
            <endpoint address="https://soap-api-beaxsegxu6fsi.azurewebsites.net/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IBankService"
                contract="Bank.IBankService" name="BasicHttpsBinding_IBankService" />
        </client>
    </system.serviceModel>
</configuration>